<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <favorite>
            <email>
                <enabled>1</enabled>
                <template>favorite_email_email_template</template>
                <number_limit>10</number_limit>
            </email> 
        </favorite>
    </default>
</config>
