<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Ihor Vansach (support@Mageants.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Wishlist\Model\Wishlist" type="Mageants\MultipleWishlist\Model\Base\Wishlist" />
</config>



