<?xml version="1.0"?>
<!--
/**
 * @category Mageants ImprovedSorting
 * @package Mageants_ImprovedSorting
 * @copyright Copyright (c) 2018 Mageants
 * @author Mageants Team <info@mageants.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
        	<resource id="Magento_Backend::admin">
        	    <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
							<resource id="Mageants_ImprovedSorting::configuration" title="ImprovedSorting Configuration" translate="title" sortOrder="10" />
		                    </resource>
                        </resource>
                    </resource>
                </resource>
        </resources>
    </acl>
</config>
