<?xml version="1.0"?>
<!--
/**
 * @category Mageants ImprovedSorting
 * @package Mageants_ImprovedSorting
 * @copyright Copyright (c) 2018 Mageants
 * @author Mageants Team <info@mageants.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mageants_ImprovedSorting" setup_version="2.0.1">
    	<sequence>
            <module name="Magento_Backend"/>
        </sequence>
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
